
* {
  font-family: Roboto, Arial, sans-serif;
  color: rgb(94, 91, 91);
  margin: 0;
  font-size: 14px;
}

body {
  margin-bottom: 100px;
}

.thumbnail {
  width: 300px;
}

.search-bar {
  border-radius: 20px;
  padding: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border: none;
  width: 300px;
}

/*linked-in*/

.linkedin-email-bar {
  padding: 8px;
  border: 2px solid rgb(99, 99, 99);
  width: 330px;
  border-radius: 3px;
}

.linkedin-email-text {
  margin: 50px 0px 8px;
}

.linkedin-email-description {
  margin: 25px 0 0;
}

.linkedin-email-button {
  padding: 15px 15px 15px;
  color: white;
  background-color: rgb(0, 160, 220);
  border: none;
  border-radius: 35px;
  margin-top: 25px;
  width: 350px; 
  font-size: 18px;
  font-weight: 500;
}


/*twitter*/

.twitter-tweet {
  margin-top: 100px;
  margin-bottom: 100px;
  vertical-align: middle;
  padding: 15px 20px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  display: block;
  width: 470px;
}

.twitter-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: right;
  border-radius: 50px;
  vertical-align: middle;
}

.twitter-bar {
  font-size: 18px;
  margin-left: 10px;
  padding: 12px 12px 12px;
  border: none;
  width: fit-content;
}

.twitter-button {
  margin-left: 50px;
  padding: 10px 20px 10px;
  background-color: #1DA1F2;
  color: #F5F8FA;
  border-radius: 20px;
  border: none;
  font-weight: 600;
}

/*div*/

.square {
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.circle {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  display: inline-block;
}

.catboxes-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}

.cat-boxes {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.cat-texts {
  padding: 10px;
}

.cat-boxes .profile-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.cat-boxes .name {
  font-weight: 700;
  font-size: 18px;
  color: black;
  margin-top: 2px;
}

.cat-boxes .mutual-friends {
  font-size: 14px;
  color: gray;
  margin-top: 3px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 5px;
}

.cat-boxes .channel-picture {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.cat-boxes .mutual-friends-box {
  margin-top: 5px;
}

.cat-boxes button {
  padding: 10px 20px 10px;
  background-color: #1DA1F2;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 14px;
  display: block;
  font-weight: 700;
}

.google {
  margin: 100px 0 100px;
}

.google div {
  text-align: center;
}

.google img {
  width: 400px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.google input {
  border-radius: 20px;
  padding: 12px 25px 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border: none;
  width: 500px;
  margin-bottom: 30px;
}

.google button {
  background-color: rgb(240, 240, 240);
  padding: 15px 20px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  margin-top: 14px;
  display: inline-block;
}

.fb-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: 5px;
  border-radius: 5px;
  max-width: 400px;
}

.fb-text {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.fb-text p {
  color: black;
  flex: 1;
}

.fb-text button {
  background-color: #075dfd;
  color: white;
  border: none;
  padding: 5px 15px 5px;
  border-radius: 15px;
  font-weight: 600;
}

.navbox {
  display: flex;
  background-color: rgb(116, 65, 145);
  padding: 10px 20px 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: none;
  gap: 15px;
}

.navbox .home {
  color: white;
  font-weight: bold;
  width: 100px;
}

.navbox .search {
  max-width: 400px;
  flex: 1;
  padding: 10px 20px 10px;
  border-radius: 15px;
  border: none;
}

.navbox button.navbar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px 10px;
  width: 100px;
  border-radius: 5px;
}

.cat-fb-box {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 500px;

}

.cat-fb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px;
  flex: 1;
}

.cat-fb img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.cat-fb .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  line-height: 23px;
}

.cat-fb p {
  font-size: 18px;
}

.cat-fb .name {
  font-weight: 700;
  color: black;
}

.cat-fb .popularity {
  font-size: 14px;
}

.cat-fb button {
  padding: 10px 20px 10px;
  background-color: #1DA1F2;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.inbox-box {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: 50px;
  width: 360px;
  padding: 10px 18px 10px;
}

.inbox-box p {
  color: rgb(104, 104, 104);
}

.inbox-type {
  margin-bottom: 22px;
}

.inbox-box img {
  width: 54px;
  height: 54px;
  border-radius: 27px;
}

.message-box {
  display: flex;
  margin-bottom: 15px;
}

.message-texts {
  flex: 1;
  margin-left: 10px;
}

.message-texts p {
  padding-bottom: 6px;
}

.message-title {
  display: flex;
  justify-content: space space-between;
}

.message-title .sender {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.message-texts .subject {
  font-weight: 700;
  color: black;
}

.message-title .sender {
  flex: 1;
}

.tweet-box {
  margin: 30px;
  padding: 20px;
  display: flex;
  width: 410px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.tweet {
  margin-left: 12px;
}

.tweet-box p {
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: 100;
}

.tweet-box .user-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.user {
  display: flex;
}

.user .username-bold {
  font-weight: 800;
  padding-right: 5px;
}

.user .username-lighter,
.link-box .link-url {
  color: rgb(112, 111, 111);
}

.link-box {
  margin-top: 16px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 24px;
  overflow: hidden;
}

.link-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  background-color: lightgray;
}

.link-details {
  flex: 1;
  padding: 14px;
}

