@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    width: 72px;
    top: 55px;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    z-index: 200;
    background-color: white;
  }
  
  .sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .sidebar img {
    height: 24px;
    margin-bottom: 5px;
  }
  
  .sidebar-link:hover {
    background-color: rgb(236, 236, 236);
  }
  
  .sidebar-link div {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  body {
    padding-left: 220px;
  }
  
  .sidebar {
    position: fixed;
    width: 220px;
    top: 55px;
    left: 0;
    bottom: 0;
    margin: 15px 0px 16x;
    z-index: 200;
    background-color: white;
    font-size: 12px;
    transition: width 0.4s, display 0.4s, font-size 0.4s;
    padding-top: 12px;
  }

  .sidebar img {
    height: 24px;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 24px 10px;
  }

  .sidebar-link:hover {
    background-color: rgb(236, 236, 236);
  }

  .sidebar img {
    padding: 2px;
    margin: 0;
    margin-right: 10px;
  }
}